@model CT.UI.Models.VideoModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*JS验证*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@*JS验证 end*@


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/MyAjaxForm.js"></script>
<script src="~/Scripts/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
    //修改结果回调
    function afterEdit(data) {
        var serverData = data.split(':');
        if (serverData[0] == "ok") {
            alert("修改成功！");
            window.location.href = "/Video/Index"
        } else if (serverData[0] == "no") {
            alert("修改失败！");
            $("#errorMsg").text(serverData[1]);
            changeCheckCode();
        } else {
            window.location.href = "/Error.html"
        }

    }
    //封面异步上传
    $(function () {
        bindFileUpload();
    });
    function bindFileUpload() {
        $("#btnUpload").click(function () {
            if ($("#imgIcon").val() == "") {
                alert("请选择图片文件");
                return;
            }
            $("#registerForm").ajaxSubmit({
                type: 'post',
                url: '/Video/FileUpload',
                success: function (data) {
                    var serverData = data.split(':');
                    if (serverData[0] == "ok") {
                        $("#hidImage").attr("value", serverData[1]);//将服务端返回的图片路径赋给隐藏域
                        $("#menuIconShow").append("<img src='" + serverData[1] + "' width='40px' height='40px' />");
                    } else {
                        alert("图片上传错误!");
                    }
                }
            });
        });
    }
    //文件异步上传
    $(function () {
        bindFileUpload1();
    });
    function bindFileUpload1() {
        $("#btnUploadVideo").click(function () {
            if ($("#videoIcon").val() == "") {
                alert("请选择文件");
                return;
            }

            $("#registerForm").ajaxSubmit({
                type: 'post',
                url: '/Video/FileUploadVideo',
                success: function (data) {
                    var serverData = data.split(':');
                    if (serverData[0] == "ok") {
                        alert("上传成功！");
                        $("#hidVideo").attr("value", serverData[1]);//将服务端返回的图片路径赋给隐藏域
                        $("#menuIconShow1").append("<img src='" + serverData[1] + "' width='40px' height='40px' />");
                    } else {
                        alert("上传错误!");
                    }
                }
            });
        });
    }
</script>


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">后台管理</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">视频评测</a></li>
            <li><i class="fa fa-table"></i>评测管理</li>
            <li><i class="fa fa-th-list"></i>修改视频评测</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                视频评测
            </header>
            <div class="panel-body">
                <div class="form">
                    @using (Ajax.BeginForm("AfterEdit", new { }, new AjaxOptions() { OnSuccess = "afterEdit", HttpMethod = "Post" }, new { id = "registerForm" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Video_ID)
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2"> ID <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <label class="form-control"> @Model.Video_ID</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2"> 标题 <span class="required">*</span></label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Video_Title, new { @class = "form-control" })<br />
                                @Html.ValidationMessageFor(model => model.Video_Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">封面 <span class="required">*</span></label>
                            <div class="col-lg-10">
                                @Html.DisplayFor(model => model.Video_Img)
                                <input type="file" name="MenuIcon" id="imgIcon" />
                                <input type="button" id="btnUpload" value="异步上传" />
                                <input type="hidden" id="hidImage" name="Video_Img" />
                                <div id="menuIconShow">
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Video_Img, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="curl" class="control-label col-lg-2">视频<span class="required">*</span></label>
                            <div class="col-lg-10">
                                @Html.DisplayFor(model => model.Video_Url)
                                <input type="file" name="MenuIcon1" id="videoIcon" />
                                <input type="button" id="btnUploadVideo" value="异步上传视频" />
                                <input type="hidden" id="hidVideo" name="Video_Url" />
                                <div id="menuIconShow1">
                                </div>
                                <br />
                                @Html.ValidationMessageFor(model => model.Video_Url, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="ccomment" class="control-label col-lg-2">分类<span class="required">*</span></label>
                            <div class="col-lg-10">
                                @Html.DropDownListFor(model => model.VideoClass_ID, ViewBag.videoClass as SelectList, "请选择分类", new { @class = "form-control m-bot15" })<br />
                                @Html.ValidationMessageFor(model => model.VideoClass_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-primary" type="submit">修改</button>
                                @Html.ActionLink("返回主页", "Index")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>