@model CT.UI.Models.VideoCommentModel
@{

    Layout = null;
}
@foreach(var item1 in Model.VideoComment)
{
    <li class="media">
        <a href="#" class="media-left">
            <img src="@item1.UserInfo.UserInfo_Img" class="avatar" alt="avatar">
        </a>
        <div class="media-body">
            <h4 class="media-heading comment-author"><a href="#">@item1.UserInfo.UserInfo_Name</a></h4><span class="timestamp text-muted">@item1.VC_Time</span>
            <p>@item1.VC_Content</p>
            <p><button class="fa fa-reply" onclick="document.getElementById('@item1.VC_ID').style.display = document.getElementById('@item1.VC_ID').style.display == '' ? 'none' : ''">回复</button></p>
            <div id="@item1.VC_ID" style="display:none;">
                @using (Html.BeginForm("ReplyComments", "VideoCommentBacks", new { vcid = item1.VC_ID }, FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
                {
                    <div class="PostRly01">
                        <textarea style="resize:none;" class="form-control" rows="3" name="textarea1" placeholder="我也要简单说两句"></textarea>
                    </div>
                    <div class="PostRly02">

                        <div class="Rly02-B">
                            @if (Session["user_ID"] != null)
                            {
                                <input type="submit" value="提交" class="fa fa-reply" />
                            }
                            else
                            {

                                <input onclick="confirm('请先登录')?location.href='@Url.Action("Login", "Account")':''" href="javascript:;" type="button" value="提交">
                            }
                        </div>
                    </div>
                }
            </div>

            @foreach (CT.Model.VideoCommentBack B in Model.VideoCommentBack.Where(u => u.VC_ID == item1.VC_ID).ToList().AsReadOnly())
            {
                <div class="media comment-by-author">
                    <a href="#" class="media-left">
                        <img src="@B.UserInfo.UserInfo_Img" class="avatar" alt="avatar">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading comment-author"><a href="#"><</a>@B.UserInfo.UserInfo_Name</h4><span class="timestamp text-muted">@B.VCB_Time</span>
                        <p>@B.VCB_Content</p>

                        <hr>
                    </div>


                </div>
            }


        </div>

    </li>
}