@using CT.Model
@model CT.Common.PagingHelper<VideoClass>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">后台管理</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">视频评测</a></li>
            <li><i class="fa fa-table"></i>评测分类管理</li>
            @*<li><i class="fa fa-th-list"></i></li>*@
        </ol>
    </div>
</div>
<p>
    @Html.ActionLink("增加分类", "Create")
</p>
<section class="panel">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>分类名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetPagingData())
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VideoClass_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Video_Class)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.VideoClass_ID }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.VideoClass_ID })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @if (Model.HasPrev)
                {
                    <td><a href="@Url.Action("Index", "VideoClass", new { pageIndex = Model.PageIndex - 1 })">上一页</a></td>
                }
                else
                {
                    <td><em style="color:Gray">上一页</em></td>
                }
                @if (Model.HasNext)
                {
                    <td><a href="@Url.Action("Index", "VideoClass", new { pageIndex = Model.PageIndex + 1 })">下一页</a></td>
                }
                else
                {
                    <td><em style="color:Gray">下一页</em></td>
                }
            </tr>
        </tfoot>
    </table>
</section>

