@using System.Security.Cryptography
@model CT.UI.Models.InfoClassModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">后台管理</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">新闻资讯</a></li>
            <li><i class="fa fa-table"></i>资讯分类管理</li>
            @*<li><i class="fa fa-th-list"></i></li>*@
        </ol>
    </div>
</div>

<section class="panel">
    <p>
        @Html.ActionLink("增加分类", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>分类名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InfoClasses)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfoClass_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info_Class)
                    </td>
                    <td>
                        @Html.ActionLink("查询二级分类", "Index", new { id = item.InfoClass_ID }) |
                        @Html.ActionLink("修改", "Edit", new { id = item.InfoClass_ID }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.InfoClass_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@if (Model.ICC != null)
{

<section class="panel">
    <p>
        @Html.ActionLink("增加二级分类", "Create","ICC")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>二级分类ID</th>
                <th>二级分类名</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ICC)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ICC_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ICC_Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ICC", new { id = item.ICC_ID })">修改</a>|
                        <a href="@Url.Action("Delete", "ICC", new { id = item.ICC_ID })">删除</a>                     
                    </td>
                </tr>
            }
        </tbody>
        @*<tfoot>
            <tr>
                <td>
                    @Url.Action("关闭二级分类","Index","InfoClass")
                </td>
            </tr>
        </tfoot>*@
    </table>
</section>

}

